body {
    display: "flex";
    flex-direction: row;
    height: "100vh";
    background-color: #be9178;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
    height: 100%; 
    color: #331E36;
    font-size: 20px;
    padding: 40px;
    background-color: #be9178;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    min-height: 60vh; 
    align-items: center; 
}
.savedLoc {
    text-align: center;
    border: 2px solid #654c3f;
    background: #daba97;
    width: 100%;
    height: 750px;
    max-width: 380px;
    margin-top: 55px;
    margin-left: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.button {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #654c3f;
    cursor: pointer;
}
  
.button:hover {
    background-color: #f1e5d4;
}

.removeLoc {
    background-color: #f1e5d4;
    color: #654c3f;
    padding: 5px 5px;
    width: 50px;
    height: 50px;
    border: 5px solid #654c3f;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.removeLoc:hover {
    background-color: rgb(226, 37, 37);
    border-color: black;
    color: black;
}