.container {
    background-color: rgb(211, 248, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* Ensures the map container has a fixed height */
}

.hourlyGrid,
.dailyGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

.scrollRow {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 10px;
    scroll-behavior: smooth;
}

.scrollRow::-webkit-scrollbar {
    height: 8px;
}   

.scrollRow::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.forecastCard {
    min-width: 120px;
    margin-right: 10px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}