body {
    display: "flex";
    flex-direction: column;
    height: "100vh";
    overflow-y: hidden;
    background-color: #be9178;
}

h1 {
    text-align: center;
}

.weathCont {
    text-align: center;
    height: 100%; 
    padding: 40px;
    background-color: #be9178;
    justify-content: center; 
    min-height: 60vh; 
    align-items: center; 
}
.mapBox {
    border: 2px solid #654c3f;
    background: #daba97;
    width: 430px;
    height: 750px;
}

.button {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #654c3f;
    cursor: pointer;
    font-family:'VT323';
    font-size: 20px;
    width: 210px;
}
  
.button:hover {
    background-color: #f1e5d4;
}

.nameBox {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    font-family:'VT323';
    font-size: 32px;
    width: 300px;
    height: 40px;
}

.weathAl {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    width: 700px;
    height: 165px;
}

.dtCont {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    width: 210px;
    height: 95px;
}

.dateTime {
    background-color: #f1e5d4;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    font-family:'Silkscreen';
    font-size: 18px;
    width: 165px;
    height: 20px;
}

.weathInfo {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    font-family:'Silkscreen';
    font-size: 14px;
    width: 300px;
    height: 20px;
    align-content: center;
}

.condInfo {
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    font-family:'Silkscreen';
    font-size: 30px;
    width: 1535px;
    height: 40px;
    align-content: center;
}

.forecast {
    display: "flex";
    flex-direction: row;
    background-color: #daba97;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    width: 1070px;
    height: 290px;
}

.foreBox {
    background-color: #f1e5d4;
    color: #654c3f;
    padding: 10px 20px;
    border: 2px solid #654c3f;
    font-family:'VT323';
    font-size: 20px;
    width: 98.85px;
    height: 180px;
    margin-top: 80px;
    margin-right: 10px;
}
