/* Ensure the html and body take the full height */
html, body {
  height: 100%;
  margin: 0; /* Remove default margins */
}

/* Your container styling */
.container {
  text-align: center;
  height: 100%; /* Make sure the container takes full height */
  color: #331E36;
  font-size: 20px;
  padding: 40px;
  background-color: #be9178;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the top */
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  align-items: center; /* Center horizontally */
}

/* Container for input and button */
.inputContainer {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between input and button */
  width: 100%;
  max-width: 400px; /* Match the input width */
  margin-bottom: 20px; /* Space below the input container */
}

/* Input field styling */
input {
  background-color: #daba97;
  color: #654c3f;
  border: 2px solid #654c3f;
  padding: 12px 20px;  /* Increase padding to make the input larger */
  font-size: 16px;     /* Increase font size */
  border-radius: 40px;  /* Match the border radius of the button */
  width: 100%;         /* Make the input field take up full width */
  height: 60px;        /* Set a fixed height to match the button */
  box-sizing: border-box; /* Ensure padding is included in height */
}

input:focus {
  background-color: #f1e5d4;
  outline: none;
}

/* Button styling */
.button {
  padding: 12px 20px;  /* Increase padding to make it larger */
  font-size: 18px;     /* Increase the font size */
  border: none;
  border-radius: 5px;  /* Match the border radius of input */
  background-color: #62c4d7; /* You can use the same color as the input */
  color: rgb(6, 10, 30);
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 48px;        /* Set a fixed height to match the input */
  box-sizing: border-box; /* Ensure padding is included in height */
}

/* Additional styling for current location button */
.currentLocationButton {
  /* Center text properly */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button:hover {
  background-color: #41337A; /* Darker color when hovering */
}

/* Results list styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 400px; /* Match the input width */
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Loading text styling */
.loading {
  font-size: 18px;
  color: #331E36;
  margin-top: 20px;
}